:root {
    --mainColor : #e65f78;
}

html{
    scroll-padding-top: 60px;
}


.first-two input{
    width: 48%;
}
.btn-form,
.btn-form:hover{
    background-color: var(--mainColor);
    color: #fff;
    margin-top: 15px;
}

.form-control:focus {
    border-color: var(--mainColor);
    outline: 0;
    box-shadow: 0 0 0 .25rem var(--mainColor);
}



.pink{
    color: #e65f78;
}

body {
    font-family: 'Nunito Sans' , sans-serif;
}

h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: "Montserrat", sans-serif;
}

h3 span{
    color: var(--mainColor);
}

.navbar-nav .nav-link.active{
    color: var(--mainColor);
    font-weight: bold;
}

.nav-link:hover , .nav-link:hover {
    color: var(--mainColor);
}

.home{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center;
}

.home .btn-download{
    border: 2px solid #fff;
    color: #fff;

}

.home .btn-download:hover{
    background-color: #fff;
    color: #333;
}

.home h1{
    font-size: 65px;
}

@media screen and (max-width : 900px) {
    .home h1{
        font-size: 45px;
    }
}

.home h1::after{
    content: '';
    animation: typing 6s infinite;
}

@-webkit-keyframes typing {
    0% {
        content: " A|";
    }

    1% {
        content: " A |";
    }

    2% {
        content: " A G|";
    }

    3% {
        content: " A Gr|";
    }

    4% {
        content: " A Gra|";
    }

    5% {
        content: " A Grap|";
    }

    6% {
        content: " A Graph|";
    }

    7% {
        content: " A Graphi|";
    }

    8% {
        content: " A Graphic|";
    }

    9% {
        content: " A Graphic |";
    }

    10% {
        content: " A Graphic D|";
    }

    11% {
        content: " A Graphic De|";
    }

    13% {
        content: " A Graphic Des|";
    }

    14% {
        content: " A Graphic Desi|";
    }

    15% {
        content: " A Graphic Desig|";
    }

    16% {
        content: " A Graphic Design|";
    }

    17% {
        content: " A Graphic Designe|";
    }

    18% {
        content: " A Graphic Designer|";
    }

    19% {
        content: " A Graphic Designer.|";
    }

    20% {
        content: " A Graphic Designer.|";
    }

    21% {
        content: " A Graphic Designer.|";
    }

    22% {
        content: " A Graphic Designer|";
    }

    23% {
        content: " A Graphic Designe|";
    }

    24% {
        content: " A Graphic Design|";
    }

    25% {
        content: " A Graphic Desig|";
    }

    25% {
        content: " A Graphic Desi|";
    }

    26% {
        content: " A Graphic Des|";
    }

    27% {
        content: " A Graphic De|";
    }

    28% {
        content: " A Graphic D|";
    }

    29% {
        content: " A Graphic |";
    }

    30% {
        content: " A Graphic|";
    }

    31% {
        content: " A Graphi|";
    }

    32% {
        content: " A Graph|";
    }

    33% {
        content: " A Grap|";
    }

    34% {
        content: " A Gra|";
    }

    35% {
        content: " A Gr|";
    }

    36% {
        content: " A G|";
    }

    37% {
        content: " A |";
    }

    38% {
        content: " A P|";
    }

    39% {
        content: " A Ph|";
    }

    40% {
        content: " A Pho|";
    }

    41% {
        content: " A Phot|";
    }

    42% {
        content: " A Photo|";
    }

    43% {
        content: " A Photog|";
    }

    44% {
        content: " A Photogr|";
    }

    45% {
        content: " A Photogra|";
    }

    46% {
        content: " A Photograp|";
    }

    47% {
        content: " A Photograph|";
    }

    48% {
        content: " A Photographe|";
    }

    49% {
        content: " A Photographer|";
    }

    50% {
        content: " A Photographer.|";
    }

    51% {
        content: " A Photographer.|";
    }

    52% {
        content: " A Photographer.|";
    }

    53% {
        content: " A Photographer|";
    }

    54% {
        content: " A Photographe|";
    }

    55% {
        content: " A Photograph|";
    }

    56% {
        content: " A Photograp|";
    }

    57% {
        content: " A Photogra|";
    }

    58% {
        content: " A Photogr|";
    }

    59% {
        content: " A Photog|";
    }

    60% {
        content: " A Photo|";
    }

    61% {
        content: " A Phot|";
    }

    62% {
        content: " A Pho|";
    }

    63% {
        content: " A Ph|";
    }

    64% {
        content: " A P|";
    }

    65% {
        content: " A |";
    }

    66% {
        content: " A|";
    }

    67% {
        content: " |";
    }

    68% {
        content: "K|";
    }

    69% {
        content: "Ke|";
    }

    70% {
        content: "Ker|";
    }

    71% {
        content: "Kerr|";
    }

    72% {
        content: "Kerri|";
    }

    73% {
        content: "Kerri |";
    }

    74% {
        content: "Kerri D|";
    }

    75% {
        content: "Kerri De|";
    }

    76% {
        content: "Kerri Deo|";
    }

    77% {
        content: "Kerri Deo.|";
    }

    78% {
        content: "Kerri Deo.|";
    }

    79% {
        content: "Kerri Deo.|";
    }

    80% {
        content: "Kerri Deo|";
    }

    81% {
        content: "Kerri De|";
    }

    82% {
        content: "Kerri D|";
    }

    83% {
        content: "Kerri |";
    }

    84% {
        content: "Kerri|";
    }

    85% {
        content: "Kerr|";
    }

    86% {
        content: "Ker|";
    }

    87% {
        content: "Ke|";
    }

    88% {
        content: "K|";
    }

    89% {
        content: "|";
    }

    90% {
        content: "|";
    }

    91% {
        content: "|";
    }

    92% {
        content: "|";
    }

    93% {
        content: "|";
    }

    94% {
        content: "|";
    }

    95% {
        content: "|";
    }

    96% {
        content: "|";
    }

    97% {
        content: "|";
    }

    98% {
        content: "|";
    }

    99% {
        content: "|";
    }

    100% {
        content: "|";
    }
}

@keyframes typing {
    0% {
        content: " A|";
    }

    1% {
        content: " A |";
    }

    2% {
        content: " A G|";
    }

    3% {
        content: " A Gr|";
    }

    4% {
        content: " A Gra|";
    }

    5% {
        content: " A Grap|";
    }

    6% {
        content: " A Graph|";
    }

    7% {
        content: " A Graphi|";
    }

    8% {
        content: " A Graphic|";
    }

    9% {
        content: " A Graphic |";
    }

    10% {
        content: " A Graphic D|";
    }

    11% {
        content: " A Graphic De|";
    }

    13% {
        content: " A Graphic Des|";
    }

    14% {
        content: " A Graphic Desi|";
    }

    15% {
        content: " A Graphic Desig|";
    }

    16% {
        content: " A Graphic Design|";
    }

    17% {
        content: " A Graphic Designe|";
    }

    18% {
        content: " A Graphic Designer|";
    }

    19% {
        content: " A Graphic Designer.|";
    }

    20% {
        content: " A Graphic Designer.|";
    }

    21% {
        content: " A Graphic Designer.|";
    }

    22% {
        content: " A Graphic Designer|";
    }

    23% {
        content: " A Graphic Designe|";
    }

    24% {
        content: " A Graphic Design|";
    }

    25% {
        content: " A Graphic Desig|";
    }

    25% {
        content: " A Graphic Desi|";
    }

    26% {
        content: " A Graphic Des|";
    }

    27% {
        content: " A Graphic De|";
    }

    28% {
        content: " A Graphic D|";
    }

    29% {
        content: " A Graphic |";
    }

    30% {
        content: " A Graphic|";
    }

    31% {
        content: " A Graphi|";
    }

    32% {
        content: " A Graph|";
    }

    33% {
        content: " A Grap|";
    }

    34% {
        content: " A Gra|";
    }

    35% {
        content: " A Gr|";
    }

    36% {
        content: " A G|";
    }

    37% {
        content: " A |";
    }

    38% {
        content: " A P|";
    }

    39% {
        content: " A Ph|";
    }

    40% {
        content: " A Pho|";
    }

    41% {
        content: " A Phot|";
    }

    42% {
        content: " A Photo|";
    }

    43% {
        content: " A Photog|";
    }

    44% {
        content: " A Photogr|";
    }

    45% {
        content: " A Photogra|";
    }

    46% {
        content: " A Photograp|";
    }

    47% {
        content: " A Photograph|";
    }

    48% {
        content: " A Photographe|";
    }

    49% {
        content: " A Photographer|";
    }

    50% {
        content: " A Photographer.|";
    }

    51% {
        content: " A Photographer.|";
    }

    52% {
        content: " A Photographer.|";
    }

    53% {
        content: " A Photographer|";
    }

    54% {
        content: " A Photographe|";
    }

    55% {
        content: " A Photograph|";
    }

    56% {
        content: " A Photograp|";
    }

    57% {
        content: " A Photogra|";
    }

    58% {
        content: " A Photogr|";
    }

    59% {
        content: " A Photog|";
    }

    60% {
        content: " A Photo|";
    }

    61% {
        content: " A Phot|";
    }

    62% {
        content: " A Pho|";
    }

    63% {
        content: " A Ph|";
    }

    64% {
        content: " A P|";
    }

    65% {
        content: " A |";
    }

    66% {
        content: " A|";
    }

    67% {
        content: " |";
    }

    68% {
        content: "K|";
    }

    69% {
        content: "Ke|";
    }

    70% {
        content: "Ker|";
    }

    71% {
        content: "Kerr|";
    }

    72% {
        content: "Kerri|";
    }

    73% {
        content: "Kerri |";
    }

    74% {
        content: "Kerri D|";
    }

    75% {
        content: "Kerri De|";
    }

    76% {
        content: "Kerri Deo|";
    }

    77% {
        content: "Kerri Deo.|";
    }

    78% {
        content: "Kerri Deo.|";
    }

    79% {
        content: "Kerri Deo.|";
    }

    80% {
        content: "Kerri Deo|";
    }

    81% {
        content: "Kerri De|";
    }

    82% {
        content: "Kerri D|";
    }

    83% {
        content: "Kerri |";
    }

    84% {
        content: "Kerri|";
    }

    85% {
        content: "Kerr|";
    }

    86% {
        content: "Ker|";
    }

    87% {
        content: "Ke|";
    }

    88% {
        content: "K|";
    }

    89% {
        content: "|";
    }

    90% {
        content: "|";
    }

    91% {
        content: "|";
    }

    92% {
        content: "|";
    }

    93% {
        content: "|";
    }

    94% {
        content: "|";
    }

    95% {
        content: "|";
    }

    96% {
        content: "|";
    }

    97% {
        content: "|";
    }

    98% {
        content: "|";
    }

    99% {
        content: "|";
    }

    100% {
        content: "|";
    }
}

.settings{
    top: 25%;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: var(--mainColor);
    z-index: 100;
    border-radius: 0 10px 10px 0;
}

.shape {
    width: 40px;
    height: 80px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    animation: move 1.5s infinite alternate ;
}

.shape::after {
    content: '';
    width: 4px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes move {
    0% {
        bottom: 20px;
    }
    
    25% {
        bottom: 80px;
    }

    50% {
        bottom: 30px;
    }

    75% {
        bottom: 80px;
    }

    100% {
        bottom: 20px;
    }

}

 .about .right ul li{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    transition: all 0.5s;
 }

.about .right ul li:hover {
    border: 1px solid var(--mainColor);
}

.about .right ul li i{
    transition: all 0.5s;
}

.about .right ul li:hover i{
    color: var(--mainColor);
}



.client .myslider .test{
    font-style: italic;
    text-align: center;
}

.carousel-indicators {
    bottom: -30px;
}


.carousel-indicators [data-bs-target] {
    height: 7px;
    background-color: var(--mainColor);
}

.portfolio .item .layer{
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #333; */
    transition: all 0.5s;
    z-index: 5;
}

.portfolio .item:hover .layer{
    top: 0;
}

.portfolio .item::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}

.portfolio .item:hover::after{
    opacity: 0.7;
}

.portfolio .item img{
    transition: all 0.5s;
}

.portfolio .item:hover img{
    transform: scale(1.2);
}

.nav-tabs{
    display: flex;
    justify-content: center;
    margin-block: 15px;
    border: none;
}
.nav-tabs .nav-link.active {
    color: #fff;
    background-color: var(--mainColor);
    border-color: transparent;
    border-radius: 10px;
}

.nav-tabs .nav-link{
    color: #333;
}

.nav-tabs .nav-link:hover{
    border: transparent;
}